body {
    padding-top: 10em;
}

.navbar {
  .navbar-header {
    .navbar-brand {
      color: #fff;
    }
  }
  .navbar-right {
    .idecide {
      margin-left: 4rem;
    }
  }
}

.car-list {
  .thumbnail {
    .caption {
      //height: 7rem;
      .car-list__title {
        height: 4rem;
        //margin-bottom: 0;
      }
      .car-list__feature {
        margin-bottom: 0;
      }
    }
  }
}

.feature-list {
  dt {
    width: auto;
  }
  dd {
    margin-left: 12rem;
        text-transform: capitalize;

  }

}

.overview-h3 {
  margin-top: 0;
}
